- cover = page.image_path(:cover_image, size: :original)
%header.main-header.tag-head{ style: ("background-image: url('#{cover}')" if cover.present?), class: ('no-cover' unless cover.present?)}

  %nav.main-nav.overlay.clearfix
    - if site.logo?
      %a.blog-logo{href: site.url}
        = site.logo_tag

    %a.menu-button.icon-menu{href: '#'}
      %span.word= t 'themes.casper.navigation.menu'

  .vertical
    .main-header-content.inner
      %h1.page-title
        - if params[:year].blank?
          = page.title
        - if params[:month].blank?
          = params[:year]
        - else
          = d site.archive.to_date, t('themes.casper.date.formats.month_long')
      %h2.page-description
        - if params[:year].blank?
          = t '.count', count: site.archive.years.map(&:last).sum
        - else
          = t '.count', count: site.archive.posts.count


%main.content{role: "main"}
  - if params[:year].blank?
    - for year, posts in site.archive.years do
      %article.post.tag-test-content
        %header.post-header
          %h2.post-title= link_to year, archive_path(year: year)
        %section.post-excerpt
          %p= t '.count', count: posts
  - else
    = render 'themes/casper/posts', posts: site.archive.posts(page: params[:page])



